
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head:: html_head" />
<style>
.checked {
  color: orange;
}
</style>
<body>
	<div id="wrapper">
		<!-- Navigation -->
		<nav th:replace="admin/fragments/nav::html_nav" />

		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header" th:text="${title}"></h1>
					</div>
					<!-- /.col-lg-12 -->
				</div>
				<!-- /.row -->
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<!-- /.panel-heading -->
							<div class="panel-body">
								<div class="table-responsive">
									<table class="table table-striped table-bordered table-hover"
										id="datatable-comment">
										<thead>
											<tr>
												<th>STT</th>
												<th>Tên người dùng</th>
												<th>Sản Phẩm</th>
												<th>Nội dung</th>
												<th>Ngày tạo</th>
												<th>Đánh giá</th>
												<th></th>
												
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
								<!-- /.table-responsive -->
							</div>
							<!-- /.panel-body -->
						</div>
						<!-- /.panel -->
					</div>
					<!-- /.col-lg-12 -->
				</div>
				<!-- /.row -->

				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->

	<th:block th:replace="admin/fragments/script :: html_script" />
	<script type="text/javascript">
	$(document).ready(function (){
		$('#datatable-comment').dataTable({
			"proccess" :true,
			"serverSide":false,
			"ajax":{
				"url":'/admin/manage/reviews/get/list',
				"type":'get',
				"dataType":'json',
				"contentType" : "application/json; charset=utf-8",
			    "dataSrc" :""
				// ,
				// success: function (data) {
				// 	console.log(data);
				// }
			},
			"columns":[
				{
					"data" :"id"
					
				},
				{
					"data" :"user"
					
				},
				{
					"data" :"product","width":"30%"
					
				},
				{
					"data" :"comment","width":"30%"
				},
				{
					"data" :"time"
				},
				{
					"data" :"rating",
					render :function (data){
						var html_rating="";
						for(var i=0;i<data;i++){
							 html_rating= html_rating+"<span class='fa fa-star checked'></span>";
						}

						return html_rating;
					}
				}
				,{
					"data" :"id",
					render: function (data){
						return "<button type='button' onclick='deleteReview("+data+")'>Xóa</button>"
					}
				}
				
			]
		})
	})
	</script>
	<script type="text/javascript">
	function deleteReview(data) {
		if (confirm("Bạn muốn xóa bình luận ?")) {
			$.ajax({
				url : '/admin/manage/reviews/delete',
				type : "get",
				data : {
					id : data,
				},
				success : function(response, type) {
					if (response) {
						alert("Xóa thành công bình luận");
						$('#datatable-comment').DataTable().ajax.reload();

					} else {
						alert("Không kích hoạt được lỗi quá trình xử lý");
					}
				},
			})
		}
	}	</script>
</body>
</html>
