
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head:: html_head" />
<body>
	<div id="wrapper">
		<!-- Navigation -->
	<nav th:replace="admin/fragments/nav::html_nav"/>
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header" th:text="${title}"></h1>
					</div>
					<!-- /.col-lg-12 -->
				</div>
				<!-- /.row -->
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<!-- /.panel-heading -->
							<div class="panel-body">
								<div class="table-responsive">
									<button type="button" class="btn_add" data-toggle="modal"
											data-target="#myModal">Thêm mới</button>
									<form id="brands" th:action="@{/admin/manage/brand/add}" method="get"   >
										<div class="modal fade" id="myModal" role="dialog">
											<div class="modal-dialog">
												<!-- Modal content-->
												<div class="modal-content">
													<div class="modal-header">
														<h4 style="text-align: center;">Thêm Thương hiệu</h4>
													</div>
													<div class="modal-body">
														<div class="form-group">
															<label for="">Tên Thương hiệu</label>
															<input
																type="text" class="form-control" id="name-brand"
																th:text="${brands.name}" aria-describedby="" placeholder="">
														</div>
														<div class="form-group">
															<label for="">Thể loại</label>
															<select class="form-control"  id="category" multiple>
																<option th:each="categories : ${categories}"
																		th:value="${categories.id}"
																		th:text="${categories.name}"></option>
															</select>
														</div>

													</div>
													<div class="modal-footer">
														<button type="submit" class="btn addPD">Thêm mới</button>
														<button type="button" class="btn btn-default"
																data-dismiss="modal">Đóng</button>
													</div>
												</div>
											</div>
										</div>
									</form>


									<div id="edit-brand">

											</div>
									<table class="table table-striped table-bordered table-hover"
										id="dataTables-brands">
										<thead>
											<tr>
												<th>STT</th>
												<th>Tên thương hiệu</th>	
												<th>Thể loại</th>	
												<th></th>
												<th></th>
												
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
								<!-- /.table-responsive -->
							</div>
							<!-- /.panel-body -->
						</div>
						<!-- /.panel -->
					</div>
					<!-- /.col-lg-12 -->
				</div>
				<!-- /.row -->

				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->

	<th:block th:replace="admin/fragments/script :: html_script" />
		<script type="text/javascript">
		$(document).ready(function () {
		    $('#dataTables-brands').dataTable({
		    	"processing": true,
		        "serverSide": false,
		      "ajax" :{
		        "url" : '/admin/manage/brand/get/list',
		        "type" : 'get',
		        "datatype" : 'json',
		        "contentType" : "application/json; charset=utf-8",
		        "dataSrc" :""
		      },
		     
		      "columns" : [ {
		        "data" : "id","width":"10%"
		      },{
		        "data" : "name", "width":"30%"
		      }
		      ,{
			        "data" : "category[].name", "width":"30%"
			      }
		      ,
				        {
				        	"data": "id",
				        	render :function (data){
				        		return "<button class='btn btn-danger'  onclick='deleteBrand("+data+")' >Xóa</button>"
				        	}
				        },
				        {
				        	"data": "id",
				        	render :function (data){
				        		return "<button class='btn btn-danger'  onclick='editBrand("+data+")' >Sửa</button>"
				        	}
				        },
				        
		      ],
		     
		    })
		  })
		</script>
		
<script type="text/javascript">
function deleteBrand(data){
	 if (confirm("Bạn muốn xóa thương hiệu!")) {
		  ajaxDelete(data);
		  } else {
		   
		  }	
	function  ajaxDelete(data){
		$.ajax({
			url: "/admin/manage/brand/delete",
			type:"get",
			data :{
				id:data,
			},
				success: function (response){	
			if(data){
				alert("Bạn đã xóa  thành công");
				$('#dataTables-brands').DataTable().ajax.reload();
			}else {
				alert("Không xóa được lỗi quá trình xử lý");
			}
			}
			,
		})
	}
}
</script>
<script type="text/javascript">
	function  editBrand(data){
		$.ajax({
			url: "/admin/manage/brand/get",
			type:"get",
			data :{
				id:data,
			},
				success: function (response){	
				$("#edit-brand").html(response);
				$("#brands-edit").modal('show');
			},
			error : function (xhr){
				alert("lỗi xử lý");
			}
		})
	
}
</script>
<script type="text/javascript">
$(document).ready(function() {
	$('#brands').submit(function(event) {
		event.preventDefault();
		ajaxCategory();
	});
			function ajaxCategory() {
				var namebrand =$('#name-brand').val();
				var icategory=$('#category').val();

				console.log(icategory);
				$.ajax({
					url : "/admin/manage/brand/add",
					type : "get",
					data : {
						namebrand:namebrand,
						category:icategory,
					},
					success : function(data) {
						if (data) {
							alert("Bạn đã thêm thể loại thành công ");
							$('#dataTables-brands').DataTable().ajax.reload();
						} else {
							alert("lỗi quá trình xử lý ");
						}
					}
				})
			}	});

</script>


</body>
</html>
