<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
 <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Shop lapTop</title>
<!-- Favicons Icon -->
<link rel="icon" href="http://demo.magikthemes.com/skin/frontend/base/default/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="http://demo.magikthemes.com/skin/frontend/base/default/favicon.ico" type="image/x-icon" />
<!-- Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- CSS Style -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="css/revslider.css" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.css" type="text/css">
<link rel="stylesheet" href="css/owl.theme.css" type="text/css">
<link rel="stylesheet" href="css/font-awesome.css" type="text/css">
<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
</head>
<body>
<footer th:fragment="html_footer" class="footer">
    <div class="brand-logo ">
      <div class="container">
        <div class="slider-items-products">
          <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col6">
              <!-- Item -->
              <div class="item"> <a href="#x"><img src="/images/b-logo1.png" alt="Image"></a> </div>
              <!-- End Item -->
              <!-- Item -->
              <div class="item"> <a href="#x"><img src="/images/b-logo2.png" alt="Image"></a> </div>
              <!-- End Item -->
              <!-- Item -->
              <div class="item"> <a href="#x"><img src="/images/b-logo3.png" alt="Image"></a> </div>
              <!-- End Item -->
              <!-- Item -->
              <div class="item"> <a href="#x"><img src="/images/b-logo4.png" alt="Image"></a> </div>
              <!-- End Item -->
              <!-- Item -->
              <div class="item"> <a href="#x"><img src="/images/b-logo5.png" alt="Image"></a> </div>
              <!-- End Item -->
              <!-- Item -->
              <div class="item"> <a href="#x"><img src="/images/b-logo6.png" alt="Image"></a> </div>
              <!-- End Item -->
              <!-- Item -->
              <div class="item"> <a href="#x"><img src="/images/b-logo1.png" alt="Image"></a> </div>
              <!-- End Item -->
              <!-- Item -->
              <div class="item"> <a href="#x"><img src="/images/b-logo4.png" alt="Image"></a> </div>
              <!-- End Item -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-middle container">
      <div class="col-md-2 col-sm-4">
        <h4>Điều khoản</h4>
        <ul class="links">
          <li class="first"><a href="#" title="How to buy">Mua Hàng</a></li>
          <li><a href="#" title="Payment">Thanh toán</a></li>
          <li><a href="delivery.html" title="delivery">Vận chuyển</a></li>
          <li class="last"><a href="#" title="Return policy">Trả Hàng</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-4">
        <h4>Style Advisor</h4>
        <ul class="links">
          <li class="first"><a title="Your Account" href="login.html">Tài khoản</a></li>
          <li><a title="Information" href="#">Thông tin</a></li>
          <li><a title="Addresses" href="#">Địa chỉ</a></li>
          <li><a title="Addresses" href="#">Khuyến mãi</a></li>
          <li><a title="Orders History" href="#">Lịch sử order</a></li>
      
        </ul>
      </div>
      <div class="col-md-2 col-sm-4">
        <h4>Thông tin</h4>
        <ul class="links">
          
          <li><a href="contact_us.html" title="Contact Us">Liên hệ</a></li>
          <li><a href="#" title="Suppliers">Hỗ trợ</a></li>
      
        </ul>
      </div>
      <div class="col-md-3 col-sm-4">
        <h4>Liên hệ</h4>
        <div class="contacts-info">
          <address>
          <i class="add-icon">&nbsp;</i>Thủ Đức, Thành phố Hồ Chí Minh <br>
          &nbsp;ĐH
          </address>
          <div class="phone-footer"><i class="phone-icon">&nbsp;</i>#</div>
          <div class="email-footer"><i class="email-icon">&nbsp;</i> <a href="#">@</div>
        </div>
      </div>
    </div>
    <div class="footer-bottom container">
    
    </div>
  </footer>
 
</body>
</html>