<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: html_head" />
<body>
<div class="page"> 
 <!-- Header -->
 		<header th:replace="fragments/header :: html_header" />
 <!-- end header --> 
  <!-- Navbar -->
  		<nav th:replace="fragments/menu :: html_menu" />
  
  <!-- end nav --> 
  
  <!-- Breadcrumbs -->
  
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <ul>
          <li class="home"> <a title="Go to Home Page" href="http://www.magikcommerce.com/">Home</a><span>&mdash;›</span></li>
          <li class="category13"><strong>About Us</strong></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- main-container -->
  <div class="main-container col2-right-layout">
    <div class="main container">
      <div class="row">
        <section class="col-main col-sm-9 wow">
          <div class="page-title">
            <h2>Giới Thiệu</h2>
          </div>
          <div class="static-contain">
            
            <p>LAPTOP HT-POP cam kết nỗ lực hết mình để trở thành nhà cung cấp sản phẩm và dịch vụ đúng với những giá trị mà khách hàng mong đợi.</p>
            <p>Hàng tuần chúng tôi đều có những đợt giảm giá, những gói dịch vụ chăm sóc và thông tin sản phẩm ưu đãi nhằm tri ân khách hàng. Để có thể cập nhật kịp thời những đợt giảm giá này, vui lòng nhập địa chỉ email của bạn vào ô dưới đây.</p>
            <br>
            <div class="image">
            	<img src="images/Shop Laptop H-POT.png"/>
            </div>
          </div>
          <br/>
          <div class="my-team pt-5">
          <div class="page-title">
            <h2>My Team</h2>
          </div>
			<div class="d-flex" style="display: flex;">
			<div class="person-1 float-left" style="float:left; margin-right:100px;">
				<img width="250px" height="250px" src="images/team/avatar60x60.jpg"/>
				</div>
				<div class="person-2" style="float:right">
				<img width="250px" height="250px" src="images/team/avatar60x60.jpg"/>
				</div>
			</div>          
          
          </div>
          <!-- start -->
          
          <!-- NOTE -->
        </section>
        <aside class="col-right sidebar col-sm-3 wow">
          <div class="block block-company">
            <div class="block-title">Công ty</div>
            <div class="block-content">
              <ol id="recently-viewed-items">
                <li class="item odd"><strong>Thông tin về chúng tôi</strong></li>
                <li class="item  odd"><a href="#">Điều khoản dịch vụ</a></li>
                <li class="item even"><a href="#"></a>Hỗ Trợ</li>
                <li class="item last"><a href="#">Liên hệ</a></li>
              </ol>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
  <!--End main-container --> 
  <!-- Footer -->
  <footer th:replace="fragments/footer :: html_footer" />
  
  <!-- End Footer --> 
</div>


<!-- JavaScript --> 
<script type="text/javascript" src="js/jquery.min.js"></script> 
<script type="text/javascript" src="js/bootstrap.min.js"></script> 
 
<script type="text/javascript" src="js/common.js"></script> 
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
</body>

<!-- Mirrored from htmldemo.magikcommerce.com/ecommerce/inspire-html-template/digital/about_us.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Aug 2015 08:07:04 GMT -->
</html>