<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: html_head" />
<body>
<div class="page">
   <!-- Header -->
   		<header th:replace="fragments/header :: html_header" />
  <!-- end header --> 
  <!-- Navbar -->
   		<nav th:replace="fragments/menu :: html_menu" />
  <!-- end nav --> 
  <div class="main-container col2-right-layout">
    <div class="main container">
      <div class="row">
        <div class="col-main col-sm-9">
          <div class="page-title">
            <h2>Blog</h2>
          </div>
          <div class="blog-wrapper" id="main">
          <div class="posts-isotope row"> 
      <!-- Blog post -->
      <div class="col-sm-6 col-md-6">
        <article class="container-paper-table">
          <div class="title">
            <h2 class="entry-title"><a href="blog_single_post.html">Mauris lacinia lectus sit Mauris lacinia lectus sit Mauris lacinia lectus sit</a></h2>
          </div>
          <div class="post-container"> <a href="blog_single_post.html"><img class="img-responsive" src="images/blog-img3.jpg" alt=""></a>
            <div class="text">
              <ul class="list-info">
                <li><span class="icon-user">&nbsp;</span>By admin</li>
                <li><span class="icon-time">&nbsp;</span>Posted on 2 May 2015</li>
              </ul>
              <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec eros tellus, scelerisque nec, rhoncus eget, laoreet sit amet, nunc. Ut sit amet turpis. In est arcu, sollicitudin eu, vehicula venenatis, tempor vitae, est. Praesent vitae dui. Morbi id tellus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas eu enim in lorem scelerisque auctor. </p>
              <a href="#" class="btn btn-mega">Read more &nbsp; <span class="icon icon-arrow-right-5"></span></a>
              <ul class="list-info">
                <li><span class="icon-eye-open">&nbsp;</span>120 Views</li>
                <li><span class="icon-comments">&nbsp;</span><a href="#">3 Comments</a></li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <!-- //end Blog post --> 
      
      <!-- Blog post -->
      <div class="col-sm-6 col-md-6">
        <article class="container-paper-table">
        <div class="title">
          <h2 class="entry-title"><a href="blog_single_post.html">Amet felis erat volutpat</a></h2>
        </div>
        <div class="post-container"> <a href="blog_single_post.html"><img class="img-responsive" src="images/blog-img2.jpg" alt=""></a>
          <div class="text">
            <ul class="list-info">
              <li><span class="icon-user">&nbsp;</span>By admin</li>
              <li><span class="icon-time">&nbsp;</span>Posted on 2 May 2015</li>
            </ul>
            <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec eros tellus, scelerisque nec, rhoncus eget, laoreet sit amet, nunc. Ut sit amet turpis. In est arcu, sollicitudin eu, vehicula venenatis, tempor vitae, est. Praesent vitae dui. Morbi id tellus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas eu enim in lorem scelerisque auctor. </p>
            <a href="#" class="btn btn-mega">Read more &nbsp; <span class="icon icon-arrow-right-5"></span></a>
            <ul class="list-info">
              <li><span class="icon-eye-open">&nbsp;</span>120 Views</li>
              <li><span class="icon-comments">&nbsp;</span><a href="#">3 Comments</a></li>
            </ul>
          </div>
        </div>
      </article>
    </div>
    <!-- //end Blog post --> 
    
    <!-- Blog post -->
    <div class="col-sm-6 col-md-6">
      <article class="container-paper-table">
        <div class="title">
          <h2 class="entry-title"><a href="blog_single_post.html">Amet felis erat volutpat</a></h2>
        </div>
        <div class="post-container"> <a href="blog_single_post.html"><img class="img-responsive" src="images/blog-img3.jpg" alt=""></a>
          <div class="text">
            <ul class="list-info">
              <li><span class="icon-user">&nbsp;</span>By admin</li>
              <li><span class="icon-time">&nbsp;</span>Posted on 2 May 2015</li>
            </ul>
            <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec eros tellus, scelerisque nec, rhoncus eget, laoreet sit amet, nunc. Ut sit amet turpis. In est arcu, sollicitudin eu, vehicula venenatis, tempor vitae, est. Praesent vitae dui. Morbi id tellus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas eu enim in lorem scelerisque auctor. </p>
            <a href="blog_single_post.html" class="btn btn-mega">Read more &nbsp; <span class="icon icon-arrow-right-5"></span></a>
            <ul class="list-info">
              <li><span class="icon-eye-open">&nbsp;</span>120 Views</li>
              <li><span class="icon-comments">&nbsp;</span><a href="#">3 Comments</a></li>
            </ul>
          </div>
        </div>
        </article>
      </div>
      <!-- //end Blog post --> 
      <!-- Blog post -->
      <div class="col-sm-6 col-md-6">
        <article class="container-paper-table">
        <div class="title">
          <h2 class="entry-title"><a href="blog_single_post.html">Amet felis erat volutpat</a></h2>
        </div>
        <div class="post-container"> <a href="blog_single_post.html"><img class="img-responsive" src="images/blog-img4.jpg" alt=""></a>
          <div class="text">
            <ul class="list-info">
              <li><span class="icon-user">&nbsp;</span>By admin</li>
              <li><span class="icon-time">&nbsp;</span>Posted on 2 May 2015</li>
            </ul>
            <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec eros tellus, scelerisque nec, rhoncus eget, laoreet sit amet, nunc. Ut sit amet turpis. In est arcu, sollicitudin eu, vehicula venenatis, tempor vitae, est. Praesent vitae dui. Morbi id tellus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas eu enim in lorem scelerisque auctor. </p>
            <a href="blog_single_post.html" class="btn btn-mega">Read more &nbsp; <span class="icon icon-arrow-right-5"></span></a>
            <ul class="list-info">
              <li><span class="icon-eye-open">&nbsp;</span>120 Views</li>
              <li><span class="icon-comments">&nbsp;</span><a href="#">3 Comments</a></li>
            </ul>
          </div>
        </div>
      </article>
    </div>
    <!-- //end Blog post --> 
    <!-- Blog post -->
    <div class="col-sm-6 col-md-6">
      <article class="container-paper-table">
        <div class="title">
          <h2 class="entry-title"><a href="blog_single_post.html">Amet felis erat volutpat</a></h2>
        </div>
        <div class="post-container"> <a href="blog_single_post.html"><img class="img-responsive" src="images/blog-img2.jpg" alt=""></a>
          <div class="text">
            <ul class="list-info">
              <li><span class="icon-user">&nbsp;</span>By admin</li>
              <li><span class="icon-time">&nbsp;</span>Posted on 2 May 2015</li>
            </ul>
            <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec eros tellus, scelerisque nec, rhoncus eget, laoreet sit amet, nunc. Ut sit amet turpis. In est arcu, sollicitudin eu, vehicula venenatis, tempor vitae, est. Praesent vitae dui. Morbi id tellus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas eu enim in lorem scelerisque auctor. </p>
            <a href="blog_single_post.html" class="btn btn-mega">Read more &nbsp; <span class="icon icon-arrow-right-5"></span></a>
            <ul class="list-info">
              <li><span class="icon-eye-open">&nbsp;</span>120 Views</li>
              <li><span class="icon-comments">&nbsp;</span><a href="#">3 Comments</a></li>
            </ul>
          </div>
        </div>
        </article>
      </div>
      <!-- //end Blog post --> 
      <!-- Blog post -->
      <div class="col-sm-6 col-md-6">
        <article class="container-paper-table">
          <div class="title">
            <h2 class="entry-title"><a href="#">Amet felis erat volutpat</a></h2>
          </div>
          <div class="post-container"> <a href="blog_single_post.html"><img class="img-responsive" src="images/blog-img3.jpg" alt=""></a>
            <div class="text">
              <ul class="list-info">
                <li><span class="icon-user">&nbsp;</span>By admin</li>
                <li><span class="icon-time">&nbsp;</span>Posted on 2 May 2015</li>
              </ul>
              <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec eros tellus, scelerisque nec, rhoncus eget, laoreet sit amet, nunc. Ut sit amet turpis. In est arcu, sollicitudin eu, vehicula venenatis, tempor vitae, est. Praesent vitae dui. Morbi id tellus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas eu enim in lorem scelerisque auctor. </p>
              <a href="#" class="btn btn-mega">Read more &nbsp; <span class="icon icon-arrow-right-5"></span></a>
              <ul class="list-info">
                <li><span class="icon-eye-open">&nbsp;</span>120 Views</li>
                <li><span class="icon-comments">&nbsp;</span><a href="#">3 Comments</a></li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <!-- //end Blog post --> 
      
      <!-- Pagination -->
      <ul class="pagination">
        <li><a href="#">«</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">»</a></li>
      </ul>
      <!-- //end Pagination --> 
    </div>  
            
          </div>
        </div>
        <div class="col-right sidebar col-sm-3">
          <div role="complementary" class="widget_wrapper13" id="secondary">
            <div class="popular-posts widget widget__sidebar wow" id="recent-posts-4">
              <h3 class="widget-title"><span>Most Popular Post</span></h3>
              <div class="widget-content">
                <ul class="posts-list unstyled clearfix">
                  <li>
                    <figure class="featured-thumb"> <a href="#/pellentesque-posuere"> <img width="80" height="53" alt="blog image" src="images/blog-img1.jpg"> </a> </figure>
                    <!--featured-thumb-->
                    <h4><a title="Pellentesque posuere" href="#/pellentesque-posuere">Pellentesque posuere</a></h4>
                    <p class="post-meta"><i class="icon-calendar"></i>
                      <time datetime="2014-07-10T07:09:31+00:00" class="entry-date">Jul 10, 2014</time>
                      .</p>
                  </li>
                  <li>
                    <figure class="featured-thumb"> <a href="#/dolor-lorem-ipsum"> <img width="80" height="53" alt="blog image" src="images/blog-img2.jpg"> </a> </figure>
                    <!--featured-thumb-->
                    <h4><a title="Dolor lorem ipsum" href="#/dolor-lorem-ipsum">Dolor lorem ipsum</a></h4>
                    <p class="post-meta"><i class="icon-calendar"></i>
                      <time datetime="2014-07-10T07:01:18+00:00" class="entry-date">Jul 10, 2014</time>
                      .</p>
                  </li>
                  <li>
                    <figure class="featured-thumb"> <a href="#/aliquam-eget-sapien-placerat"> <img width="80" height="53" alt="blog image" src="images/blog-img3.jpg"> </a> </figure>
                    <!--featured-thumb-->
                    <h4><a title="Aliquam eget sapien placerat" href="#/aliquam-eget-sapien-placerat">Aliquam eget sapien placerat</a></h4>
                    <p class="post-meta"><i class="icon-calendar"></i>
                      <time datetime="2014-07-10T06:59:14+00:00" class="entry-date">Jul 10, 2014</time>
                      .</p>
                  </li>
                  <li>
                    <figure class="featured-thumb"> <a href="#/pellentesque-habitant-morbi"> <img width="80" height="53" alt="blog image" src="images/blog-img4.jpg"> </a> </figure>
                    <!--featured-thumb-->
                    <h4><a title="Pellentesque habitant morbi" href="#/pellentesque-habitant-morbi">Pellentesque habitant morbi</a></h4>
                    <p class="post-meta"><i class="icon-calendar"></i>
                      <time datetime="2014-07-10T06:53:43+00:00" class="entry-date">Jul 10, 2014</time>
                      .</p>
                  </li>
                </ul>
              </div>
              <!--widget-content--> 
            </div>
            <div class="popular-posts widget widget_categories wow" id="categories-2">
              <h3 class="widget-title"><span>Categories</span></h3>
              <ul>
                <li class="cat-item cat-item-19599"><a href="#/first-category">First Category</a></li>
                <ul>
                </ul>
                <li class="cat-item cat-item-19599"><a href="#/second-category">Second Category</a></li>
                <ul>
                </ul>
              </ul>
            </div>
            <!-- Banner Ad Block -->
            <div class="ad-spots widget widget__sidebar">
              <h3 class="widget-title"><span>Ad Spots</span></h3>
              <div class="widget-content"><a target="_self" href="#" title=""><img alt="offer banner" src="images/RHS-banner-img.jpg"></a></div>
            </div>
            <!-- Banner Text Block -->
            <div class="text-widget widget widget__sidebar">
              <h3 class="widget-title"><span>Text Widget</span></h3>
              <div class="widget-content">Mauris at blandit erat. Nam vel tortor non quam scelerisque cursus. Praesent nunc vitae magna pellentesque auctor. Quisque id lectus.<br>
                <br>
                Massa, eget eleifend tellus. Proin nec ante leo ssim nunc sit amet velit malesuada pharetra. Nulla neque sapien, sollicitudin non ornare quis, malesuada.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 <!-- Footer -->
 <footer th:replace="fragments/footer :: html_footer" />
 
   <!-- End Footer --> 
</div>


<!-- JavaScript --> 
<script type="text/javascript" src="js/jquery.min.js"></script> 
<script type="text/javascript" src="js/bootstrap.min.js"></script> 
 
<script type="text/javascript" src="js/common.js"></script> 
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
</body>

<!-- Mirrored from htmldemo.magikcommerce.com/ecommerce/inspire-html-template/digital/blog_posts_table_view.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Aug 2015 08:06:03 GMT -->
</html>