<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: html_head" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<body>
	<div class="page">
		<!-- Header -->
		<header th:replace="fragments/header :: html_header" />
		<!-- end header -->
		<!-- Navbar -->
		<nav th:replace="fragments/menu :: html_menu" />
		<!-- end nav -->
		<section class="main-container col1-layout">
			<div class="main container">
				<div class="col-md-6 col-md-offset-3">

					<div class="panel panel-default">
						<div class="panel-body">
							<div class="text-center">
								<h3><i class="fa fa-lock fa-4x"></i></h3>
								<h2 class="text-center">Forgot Password?</h2>
								<p>You can reset your password here.</p>
								<p th:text="${checkemail}"></p>

								<div class="panel-body">

									<form th:action="@{/taikhoan/t1}" method="POST" th:onsubmit="return getdata()" id="register-form" role="form" autocomplete="off" class="form">

										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
												<input id="username" name="username" placeholder="email address" class="form-control"  type="email">
											</div>
										</div>
										<div class="form-group">
											<input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
										</div>

										<input type="hidden" class="hide" name="token" id="token" value="">
									</form>

								</div>
							</div>
						</div>
					</div>



				</div>
			</div>
		</section>
		<!-- Footer -->
		<footer th:replace="fragments/footer :: html_footer" />
		<!-- End Footer -->
	</div>

	<!-- JavaScript -->

	<script type="text/javascript">
		function updateCart() {
		var h = new Array();

			var inputs, index;

			inputs = document.getElementsByName('soluong').values();
			for (index = 0; index < inputs.length; ++index) {
				h.push(inputs.item().val())
			}
			console.log(inputs);
			$.ajax({
				url : "/capnhatgiohang",
				type : "get",
				data : {
					quantity : h,


				},
				success : function(response) {
					console.log(response);

				},
				error : function(xhr) {
					arlet("xuất hiện lỗi xảy ra");
				}
			});
		}
	</script>

	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	<script type="text/javascript" th:src="@{/js/owl.carousel.min.js}"></script>
</body>
</html>