<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: html_head" />
<body>
	<div class="page">
		<!-- Header -->
		<header th:replace="/fragments/header :: html_header" />
		<!-- end header -->
		<!-- Navbar -->
		<nav th:replace="/fragments/menu :: html_menu" />
		<!-- end nav -->
		<section class="main-container col1-layout">
			<div class="main container">
				<div class="account-login">
					<div class="page-title">
						<h2 style="text-align: center;">SHOP LAPTOP H-POT</h2>
					</div>
					<fieldset class="col2-set">
						<div class="col-1 new-users">
							<strong>Xin chào mừng bạn đến Shop LAPTOP H-POT<br>
								<p>Siêu rẻ -siểu bền- siêu đắt</p></strong>
							<div class="content">
								<img alt="" src="/images/Shop%20Laptop.png" width="100%">
							</div>
						</div>
						<form th:action="@{/user/login}" method="POST" th:onsubmit="return getdata()">
							<div class="col-2 registered-users">
								<strong>Đăng nhập </strong>
								<div class="content">
									<p>
										Nếu bạn chưa có tài khoản?<a th:href="@{/dang-ky}">Đăng ký
											tại đây</a>
									</p>
									<ul class="form-list">
										<li><label>Email Address <span
												class="required" th:if="${param.error}"></span></label> <br> <input
											type="text" title="Email Address" required oninvalid="this.setCustomValidity('Vui lòng nhập email!')"
											class="input-text required-entry" id="txtUsername"
											name="username"><p class="error error-uname"></p></li>
										<li>
											<label>Password <span
												class="required" th:if="${param.logout}"></span></label> <br> <input
											type="password" title="Password"
											class="input-text required-entry validate-password"
											id="password" name="password"  required oninvalid="this.setCustomValidity('Vui lòng nhập mật khẩu!')"><p class="error error-pass"></p>
										</li>
									</ul>
									<p class="required">*</p>

									<a class="forgot-word" th:href="@{/taikhoan/quenmatkhau}">Forgot Your Password?</a>
									<br>
									<br>
									<div class="buttons-set">
										<button id="send2" name="send" type="submit"
											class="button login">
											<span>Đăng Nhập</span>
										</button>
										<button type="button" class="button login">
											<a href=""><span>Đăng Ký</span></a>
										</button>
										<br>
									</div>
								</div>
							</div>
						</form>
					</fieldset>
				</div>
				<br> <br> <br> <br> <br>
			</div>
		</section>
		<!-- Footer -->
		<footer th:replace="/fragments/footer :: html_footer" />

		<!-- End Footer -->
	</div>
	<!-- JavaScript -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>

	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/owl.carousel.min.js"></script>
</body>
</html>