<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/fragments :: html_head" />
<body>
	<div class="page">
		<!-- Header -->
		<header th:replace="/fragments/header :: html_header" />

		<!-- end header -->
		<!-- Navbar -->
		<nav th:replace="/fragments/menu :: html_menu" />

		<!-- end nav -->
		<section class="main-container col1-layout">
			<div class="main container">
				<div class="account-login">
					<div class="page-title">
						<h2 align="center">Đăng ký tài khoản</h2>
					</div>
					<fieldset class="col2-set">
						<div class="col-1 new-users">
							<strong>Xin chào mừng bạn đến Shop LAPTOP H-POT<br>
								<p>Siêu rẻ -siểu bền- siêu đắt</p></strong>
							<div class="content">
								<img alt="" src="/images/Shop%20Laptop.png" width="100%">
							</div>
						</div>
						<form id="register" action="#" th:action="@{/register/create/user}"
							method="post">
							<div class="col-2 registered-users">
								<div class="content">
									<ul class="form-list">
										<li><label for="email">Tên đăng nhập<span
												class="required">*</span></label> <br> <input type="text"
											class="input-text required-entry" id="email" value=""
											name="username"></li>
										<li><label for="pass">Nhập mật khẩu <span
												class="required">*</span></label> <br> <input type="password"
											id="password_new"
											class="input-text required-entry validate-password"
											name="password">
											 <p class="error e-pass"></p></li>
										<li><label for="pass">Nhập lại mật khẩu <span
												class="required">*</span></label> <br> <input type="password"
											id="password_confirm"
											class="input-text required-entry validate-password"
											name="confirm_cpassword">
											<p class="error e-repass"></p></li>

									</ul>
									<p class="required"></p>
									<div class="buttons-set">
										<button type="submit" class="button login">
											<span>Đăng Ký</span>
										</button>
										<a type="button" class="button login"> <span>Đăng
												Nhập</span>
										</a>

									</div>
								</div>
							</div>
						</form>
					</fieldset>
				</div>
				<br> <br> <br> <br> <br>
			</div>
		</section>
		<!-- Footer -->
		<footer th:replace="/fragments/footer :: html_footer" />

		<!-- End Footer -->
	</div>

	<!-- JavaScript -->


	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>

	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/owl.carousel.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {

			$('.error').css('color', 'red')
			$('#email').blur(function() {
				if ($(this).val() === "")
					$('.e-username').html("Không thể bỏ trống trường này!")
			})
			$('#password_new').blur(function() {
				if ($(this).val() === "")
					$('.e-pass').html("Không thể bỏ trống trường này!")
			})
			$('#password_confirm').blur(function() {
				if ($(this).val() === "")
					$('.e-repass').html("Không thể bỏ trống trường này!")
			})

		})
	</script>
</body>

</html>