<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>Quản trị viên</title>
<!-- Bootstrap Core CSS -->
<link href="/admin/css/bootstrap.min.css" rel="stylesheet" />

<!-- MetisMenu CSS -->
<link href="/admin/css/metisMenu.min.css" rel="stylesheet" />

<!-- Timeline CSS -->
<link href="/admin/css/timeline.css" rel="stylesheet" />

<!-- Custom CSS -->
<link href="/admin/css/startmin.css" rel="stylesheet" />

<!-- Morris Charts CSS -->
<link href="/admin/css/morris.css" rel="stylesheet" />

<!-- Custom Fonts -->
<link href="/admin/css/font-awesome.min.css" rel="stylesheet"
	type="text/css" />
</head>
<body>
	<!-- jQuery -->
	<block th:fragment="html_script">
		<script src="/admin/js/jquery.min.js"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="/admin/js/bootstrap.min.js"></script>

		<!-- Metis Menu Plugin JavaScript -->
		<script src="/admin/js/metisMenu.min.js"></script>

		<!-- DataTables JavaScript -->
		<script src="/admin/js/dataTables/jquery.dataTables.min.js"></script>
		<script src="/admin/js/dataTables/dataTables.bootstrap.min.js"></script>

		<!-- Custom Theme JavaScript -->
		<script src="/admin/js/startmin.js"></script>
		
	</block>
</body>
</html>